[Unit]
Description={{ frontend_service_description }}

[Service]
Type=simple
WorkingDirectory={{ frontend_service_work_directory }}
ExecStart=http-server {{ frontend_service_work_directory }} -p 80 --proxy {{ frontend_service_host}} >{{ frontend_service_std_out_path }} 2>&1
KillMode=process
Restart=always
RestartSec=3
User={{ frontend_service_user }}
KillSignal=SIGQUIT
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target