[Unit]
Description={{ backend_service_description }}

[Service]
User={{ backend_service_user }}
Environment=REPORT_PATH={{ backend_service_report_path }}
Environment=LOG_PATH={{ backend_service_log_path }}
StandardOutput={{ backend_service_std_out_path }}
Restart={{ backend_service_restart }}
ExecStart=/usr/bin/java \
-Dmyserver.basePath='{{ backend_lib_base_path }}' \
-Dmyserver.bindAddr='{{ backend_lib_bind_address }}' \
-Dmyserver.bindPort='{{ backend_lib_bind_port }}' \
-Dmyserver.hostName='{{ backend_lib_host_name }}' \
-jar '{{ backend_lib_directory }}'
SuccessExitStatus={{ backend_service_success_exit_status }}

[Install]
WantedBy=multi-user.target